<div class="container mt-4">
  <h1 class="mb-4 text-primary">Cinema App</h1>

  <h3 class="mb-4 text-primary text-center">Movies Table View</h3>
  <app-movies-table></app-movies-table>

  <hr>

  <h3 class="mb-4 text-primary text-center">Movies Cards View</h3>
  <app-movies-cards-list></app-movies-cards-list>

  <hr>

<!--  <h4 class="text-warning text-center">Add movie using Template Driven Approach</h4>-->
<!--  <app-movie-td-form></app-movie-td-form>-->

  <h4 class="text-warning text-center">Add movie using Reactive Approach</h4>
  <app-movie-reactive-form></app-movie-reactive-form>
</div>
