<div class="card">
  <img class="card-img-top" [src]="movie.imageUrl" [alt]="movie.title">

  <div class="card-body">
    <h5 class="card-title">{{ movie.title | format}}</h5>
    <p class="card-text">{{ movie.description | format: 100 }}</p>

    <div>
      <div>
        <span>Rating: {{movie.rating | number: '1.1-2'}}</span>
      </div>

      <div>
        <span>Created at: {{movie.createdDate | date}}</span>
      </div>
    </div>

    <button class="btn btn-primary" (click)="onSelectClick()">Select</button>
    <a class="btn btn-outline-success ml-2" [routerLink]="['/movie-add', movie.id]">Update</a>
    <button class="btn btn-outline-warning ml-2" (click)="onDeleteClick()">Delete</button>
  </div>
</div>
