<div class="row">
  <div class="col-md-12">
    <form #form="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
               class="form-control"
               id="title"
               name="title"
               placeholder="Enter title..."
               required
               minlength="5"
               [(ngModel)]="movie.title"
               #titleControl="ngModel">

        <small *ngIf="titleControl.touched && titleControl.invalid && titleControl.errors.required"
               class="text-danger">This field is required.</small>

        <small *ngIf="titleControl.touched && titleControl.invalid && titleControl.errors.minlength"
               class="text-danger">
          This field includes {{titleControl.errors.minlength.actualLength}} characters.
          This field should contain at least {{titleControl.errors.minlength.requiredLength}} characters.
        </small>

      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text"
               class="form-control"
               id="description"
               name="description"
               placeholder="Enter description..."
               ngModel>
      </div>

      <div class="form-group">
        <label for="director">Director</label>
        <input type="text"
               class="form-control"
               id="director"
               name="director"
               placeholder="Enter director..."
               ngModel>
      </div>

      <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number"
               class="form-control"
               id="rating"
               name="rating"
               placeholder="Enter rating..."
               ngModel>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        <input type="text"
               class="form-control"
               id="image"
               name="image"
               placeholder="Enter image url..."
               ngModel>
      </div>

      <button type="submit"
              class="btn btn-primary"
              [disabled]="form.invalid">Submit
      </button>
    </form>
  </div>
</div>
